* {
    margin:0;
    padding: 0;
}

html,
body {
    margin: 0;
    min-width: 100vw;
    min-height: 100vh;
    font-family: 'Courier New', Courier, monospace;
    background-color: #F0F2F3;
}

#title1 {
    text-align: center;
    font-size: 72px;
    font-weight: bold;
    margin-bottom: 2rem;
    margin-top: 1rem;
}

#title2 {
    text-align: center;
    font-size: 48px;
    margin-bottom: 1rem;
}

#add-button {
    margin: 0 auto;
    display: block;
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 1rem;
    padding: .5rem;
}

table {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

table, th, td {
    text-align: center;
    border-collapse: collapse;
    border: 1px solid black
}

th {
    font-size: 24px;
    padding: 0.5rem;
}

td {
    font-size: 18px;
    padding: 0.5rem;
}

.table-buttons {
    font-size: 18px;
    padding: .25rem;
}

.hidden-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#form-title {
    font-size: 42px;
    font-weight: bold;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    margin-top: .5rem;
    width: 20rem;
}

.form-move {
    display: flex;
    justify-content: center;
}

input,
select,
.form-buttons {
    margin-top: .5rem;
    margin-bottom: .5rem;
    font-size: 24px;
    text-align: center;
}

#back,
#clear,
#submit {
    padding: .5rem;
}

.hidden {
    display: none;
}