* {
    margin:0;
    padding: 0;
}

html,
body {
    margin: 0;
    min-width: 100vw;
    min-height: 100vh;
    font-family: 'Courier New', Courier, monospace;
    background-color: #e1eaef;
}

.titles {
    text-shadow: -1px 1px 2px #e1eaef,
				  1px 1px 2px #000,
				  1px -1px 0 #000,
				  -1px -1px 0 #000;
    background-color: #7393B3;
    color: #0C2D48
    
}
#title1 {
    text-align: center;
    font-size: 72px;
    font-weight: bold;
    margin-bottom: 2rem;
    padding-top: 1rem;
}

#title2 {
    text-align: center;
    font-size: 48px;
    padding-bottom: 1rem;
}

.add-button {
    background-color: #7393B3;
    color: #0C2D48;
    margin: 0 auto;
    display: block;
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 1rem;
    padding: .5rem;
    margin-top: 2rem;
}

.add-button:hover {
    background-color: #e1eaef;
}

.add-button:active {
    background-color: pink;
}

table {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
}

table, th, td {
    text-align: center;
    border-collapse: collapse;
    border: 1px solid black
}

th {
    font-size: 24px;
    font-weight: bold;
    padding: 0.5rem;
    background-color: #7393B3;
    color: #0C2D48
}

td {
    font-size: 14px;
    padding: 0.5rem;
}

td button {
    font-size: 18px;
    padding: .25rem;
    color: #0C2D48
}

td button:hover {
    background-color: #7393B3;
}

td button:active {
    background-color: pink;
}

#form-title {
    font-size: 42px;
    font-weight: bold;
    text-align: center;
    margin-top: 5rem;
    color: #0C2D48
}

form {
    display: flex;
    flex-direction: column;
    margin-top: .5rem;
    width: 20rem;
}

.form-move {
    display: flex;
    justify-content: center;
}

input,
select,
.form-buttons {
    margin-top: .5rem;
    margin-bottom: .5rem;
    font-size: 24px;
    text-align: center;
}

#back,
#clear,
#submit {
    padding: .5rem;
}

input,
select {
    color: #0C2D48
}

#back:hover,
#clear:hover,
#submit:hover {
    background-color: #7393B3;
}

#back:active,
#clear:active,
#submit:active {
    background-color: pink;
}
.hidden {
    display: none;
}